  
.headerContainer{
  display: flex;
  position: fixed;
  width: 100vw;
  background-color: #131213;
  border-bottom: #9615db4f 2px solid;
  height: var( --header-offset);
  justify-content: space-around;
}

header {
   display: flex;
   position: fixed;
   width: 80vw;
   height: var( --header-offset);
   justify-content: space-around;
   align-content: space-around;
   background-color:#131213;
    border-bottom: #9615db4f 2px solid;
   /* border-bottom: #9615DB 5px solid; */
   z-index: 10;
   font-family: "Share";
}


header a {
    letter-spacing: 1.4px;

    font-size: 1.5em;
}


.subHeader {
    position: fixed;
    top: 10vh;
    width: 100vw;
    height: 10vh;
    background: linear-gradient(to bottom, #40095e,rgba(32, 32, 32, 0.979),rgba(32, 32, 32, 0.9),rgba(32, 32, 32, 0.8),rgba(32, 32, 32, 0.85),rgba(32, 32, 32, 0.8));  
    z-index: 5;
    opacity: 0;
    /* display: flex;
    flex-direction: row; */
}



.inputBoxesContainer {
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-around;
  /* column-gap: 5vw; */
  width: 80vw;
  /* position: fixed;*/
  left: 10vw;
  font-family: "Share","Arial",sans-serif;
}

.inputBox.Show{
    
  letter-spacing: 1.4px;

    font-size: 2vw;
}