/* 
header a {
    border: 2px inset rgba(98, 1, 136, 0.253);
    border-bottom: #9615DB 3px solid;
    border-radius: 2px;
    background: linear-gradient(rgba(128, 128, 128, 0.123), rgba(153, 37, 173, 0.123));
    /* background-color: rgba(128, 128, 128, 0.123);     */
    font-size: 1.5em;
    letter-spacing: 1.2px;
    font-weight: 300;
} */