

.seriesTextCracked{
    position: relative;
    font-family: 'Quicksand', Arial, sans-serif;
    color:white;
    background-color: #1b1b1bd8;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.02em;
    text-shadow: 1px 2px 0.15em #9615DB;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.009em);
    /*animation: shake 2.5s linear forwards;*/
}

/* Forked Blackmirror text animation https://codepen.io/GeorgePark/pen/jeBbGN */
/*
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
}*/

.seriesTextCracked span {
    position: absolute;
    top: 0;
    left: 0;
    /*display: flex;
    flex-direction:row;*/
    transform: translate(-50%, -50%);
    -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
            clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
    animation: crack3 2.5s linear forwards;
}

.seriesTextCracked::before,
.seriesTextCracked::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
}

/* The before and after seem to be the two sides of the cracked */

.seriesTextCracked::before {
    animation: crack1 2.5s linear forwards;
    /* clip-path is the way that the text has been divide up. Can be done in lots of different shapes e.g circle. It works by obscuring part of the element targeted*/
    -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
            clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

/* animation is pure CSS. crack2 refers to the @keyframes that is linked below. It is directed at the h1 element. 2.5s refers to delay. Can add duration here. Linear refers to text moving to one side (i.e. not ease-in-out). Forwards refers to direction.,  */

.seriesTextCracked::after {
    animation: crack2 2.5s linear forwards;
    -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
            clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

@keyframes crack1 {
    /*These outer % refer to percentage moved through the animation. Can add anything I want...*/
    0%,5%{
        transform: translate(-50%, -50%);
    }
  
    /* This changes the left crack movement*/
    9% {
        transform: translate(-61%, -50%);
        
    }
    30%{
      transform: translate(-61%, -50%);
      opacity: 0;
    } 
    100% {
      transform: translate(-61%, -50%);
      opacity: 0;
      
    }
}

@keyframes crack2 {
    0%,5%{
        transform: translate(-50%, -50%);
        
    }
  
    /* This changes the left crack movement*/
    9% {
        transform: translate(-39%, -50%);
        /*opacity: 1;*/
    }
    30%{
      transform: translate(-39%, -50%);
      opacity: 0;
    } 
    100% {
      transform: translate(-39%, -50%);
      opacity: 0;
      /*opacity : 0 ;*/
    }
}

@keyframes crack3 {
    0%,5%{
        opacity: 1;
    }
    30%{
        opacity: 0;
    } 
    100%{
        opacity: 0;
    }
}