header a {
    /* letter-spacing: 1.4px; */
    font-size: 30px;
}

.inputBox.Show {
    /* letter-spacing: 1.4px; */
    font-size: 30px;
}

.seriesTextUncracked {

    font-size: 4.2em;
    font-weight: 500;

}

.seriesTextCracked {

    font-size: 4.2em;
    font-weight: 500;

}

